---
import { getCollection } from "astro:content";
import type { Metadata } from "../../types/Metadata";
import Section from "../../components/Section.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import { cardDetail } from "../../types/Park";
import { categoryColor } from "../../types/CardColor";

const meta: Metadata = {
  title: "WA State Parks - JP Ungaretti",
  description: "",
};

const visited = await getCollection(
  "washingtonParks",
  (park) => park.data.visited
);
visited.sort((a, b) => b.data.visited!.valueOf() - a.data.visited!.valueOf());
const toVisit = await getCollection(
  "washingtonParks",
  (park) => !park.data.visited
);
toVisit.sort((a, b) => a.data.name.localeCompare(b.data.name));
const all = [...visited, ...toVisit];
---

<BaseLayout meta={meta}>
  <Section title="WA State Parks">
    <div class="park-list">
      {
        all.map(({ data }) => (
          <div class="sm:flex-grow">
            <Card
              title={data.name}
              detail={cardDetail(data)}
              color={categoryColor(data.category)}
              outline={data.visited === undefined}
            />
          </div>
        ))
      }
    </div>
  </Section>
</BaseLayout>
