@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
}
.link-bubble {
  @apply bg-indigo-50;
  @apply text-indigo-600;
  @apply text-sm;
  @apply font-medium;
  @apply rounded-full;
  @apply py-1;
  @apply px-4;
}
