---
import Section from "../components/Section.astro";
import type { HeadMeta } from "../data/types/HeadMeta";
import BaseLayout from "../layouts/BaseLayout.astro";
import { photos } from "../data/photos";
import Columns from "../components/Columns.astro";
import ImagePreview from "../components/ImagePreview.astro";

const meta: HeadMeta = {
  title: "My Photos - JP Ungaretti",
  description: "Photos of mountains, sailboats, cats, stars, and more.",
};
---

<BaseLayout meta={meta}>
  <div class="frame space-y-8">
    <Section title="My Photos">
      <Columns>
        {photos.map((photo) => (
          <ImagePreview image={photo} href={`/gallery/${photo.id}`} />
        ))}
      </Columns>
    </Section>
    <Section title="My Art">
      <Columns />
    </Section>
  </div>
</BaseLayout>
