---
import type { HeadMeta } from "../data/types/HeadMeta";
import { photos } from "../data/photos";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Columns from "../components/Columns.astro";
import PhotoPreview from "../components/PhotoPreview.astro";

const meta: HeadMeta = {
  title: "JP Ungaretti",
  description:
    "Developer, photographer, and cheese curd connoisseur in the Pacific Northwest. Check out my recent work or get in touch with me.",
};
---

<BaseLayout meta={meta}>
  <div class="frame">
    <Hero title="JP Ungaretti" detail="Developer and Photographer" />
    <Section title="Recent Photos">
      <Columns>
        {photos.map((photo) => <PhotoPreview photo={photo} />)}
      </Columns>
    </Section>
  </div>
</BaseLayout>
