---
import Navbar from "../components/Navbar.astro"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Meta -->
    <title>JP Ungaretti</title>
    <meta
      name="description"
      content="I'm a software engineer at Microsoft, an amateur photographer, and a cheese curd connoisseur. Welcome to my corner of the Internet!"
    />
    <!-- Style -->
    <link rel="stylesheet" href="/assets/inter/inter.css" />
    <link rel="stylesheet" href={Astro.resolve("../style/global.css")} />
  </head>
  <body>
    <header>
      <div class="container my-6">
        <Navbar />
      </div>
    </header>
    <main>
      <div class="container my-8">
        <div class="mb-4">
          <h1 class="text-4xl font-bold">Ciao, I'm JP</h1>
          <p class="text-lg">
            I'm a software engineer at Microsoft, an amateur photographer, and a cheese curd connoisseur. Welcome to my corner of the Internet!
          </p>
        </div>
        <div class="flex space-x-2">
          <a href="mailto:hello@jungaretti.com" class="link-bubble">
            hello@jungaretti.com
          </a>
          <a
            href="https://github.com/jungaretti/"
            target="_blank"
            class="link-bubble"
          >
            GitHub
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
