---
import { photos } from "../data/photos.js";
import Navbar from "../components/Navbar.astro";
import LinkBubble from "../components/LinkBubble.astro";
import PhotoFrame from "../components/PhotoFrame.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Meta -->
    <title>JP Ungaretti</title>
    <meta
      name="description"
      content=" I'm a software engineer at Microsoft, an amateur photographer, and a cheese curd connoisseur." />
    <!-- Style -->
    <link rel="stylesheet" href="/assets/inter/inter.css" />
    <link rel="stylesheet" href={Astro.resolve("../style/global.css")} />
  </head>
  <body class="bg-gray-800 text-white">
    <header>
      <div class="container my-8">
        <Navbar />
      </div>
    </header>
    <main>
      <div class="container my-12">
        <h1 class="text-4xl md:text-5xl font-bold">JP Ungaretti</h1>
        <p class="text-lg mt-1">Software Engineer and Photographer</p>
        <div class="flex space-x-2 mt-4 text-sm">
          <LinkBubble
            text="hello@jungaretti.com"
            href="mailto:hello@jungaretti.com" />
          <LinkBubble text="GitHub" href="https://github.com/jungaretti" />
        </div>
      </div>
      <div class="container my-4">
        <h2 class="text-3xl font-bold mb-3">Favorite Photos</h2>
        <div class="space-y-3">
          <PhotoFrame
            src="https://badgerville.blob.core.windows.net/journal/sunset-sailing-web.jpg"
            alt="Sailboat underneath a beautiful sunset"
            title="New Horizons"
            location="Seattle, WA"
            date="August 2021" />
          <PhotoFrame
            src="https://badgerville.blob.core.windows.net/journal/cascadian-stars-web.jpg"
            alt="Incredible stars over a silhouetted mountain"
            title="Sotto le Stelle"
            description="E quindi uscimmo a riveder le stelle"
            location="North Cascades National Park"
            date="September 2021" />
        </div>
      </div>
    </main>
  </body>
</html>
