---
import { getCollection, getEntryBySlug } from "astro:content";
import type { HeadMeta } from "../types/HeadMeta";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import Columns from "../components/Columns.astro";
import ImagePreview from "../components/ImagePreview.astro";

const photos = await Promise.all([
  getEntryBySlug("photos", "raggi-del-pianeta"),
  getEntryBySlug("photos", "new-horizons"),
  getEntryBySlug("photos", "riveder-le-stelle"),
  getEntryBySlug("photos", "lone-moose"),
  getEntryBySlug("photos", "mio-gatto"),
  getEntryBySlug("photos", "wide-awake"),
]);

const meta: HeadMeta = {
  title: "JP Ungaretti",
  description:
    "Developer, photographer, and cheese curd connoisseur in the Pacific Northwest. Check out my recent work or get in touch with me.",
};
---

<BaseLayout meta={meta}>
  <div class="frame">
    <Hero title="JP Ungaretti" detail="Developer and Photographer" />
    <Section title="Recent Photos">
      <Columns>
        {
          photos.map(({ data, slug }) => (
            <ImagePreview
              src={data.src.compressed}
              alt={data.alt}
              href={`/photos/${slug}`}
            />
          ))
        }
      </Columns>
    </Section>
  </div>
</BaseLayout>
