---
import type { Metadata } from "@lib/Metadata";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";
import ImagePreview from "@components/ImagePreview.astro";
import { getEntry } from "astro:content";

const photos = await Promise.all([
  getEntry("photos", "raggi-del-pianeta")!,
  getEntry("photos", "new-horizons")!,
  getEntry("photos", "toadstool")!,
  getEntry("photos", "lone-moose")!,
  getEntry("photos", "riveder-le-stelle")!,
  getEntry("photos", "mio-gatto")!,
]);

const meta: Metadata = {
  title: "JP Ungaretti",
  description:
    "Developer, photographer, and cheese curd connoisseur in the Pacific Northwest. Check out my recent work or get in touch with me.",
};
---

<BaseLayout meta={meta}>
  <Hero title="JP Ungaretti" detail="Developer and Photographer" />
  <Section title="My Photos">
    <div class="grid-standard">
      {
        photos.map((photo) => (
          <ImagePreview
            src={photo.data.compressed.src}
            alt={photo.data.alt}
            href={`/photos/${photo.id}`}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
