---
import iconReference from "../../public/assets/logo.svg"

let title="JP Ungaretti"
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/style/global.css" />
  </head>
  <body>
    <header>
      <div class="container flex items-center my-6">
        <div class="flex-grow">
          <img
            src={iconReference}
            alt="ðŸ¬"
            height="48px"
            width="48px"
          />
        </div>
        <div>
          <a href="/">Home</a>
        </div>
      </div>
    </header>
    <main>
      <div class="container my-8">
        <div class="mb-4">
          <h1 class="text-4xl font-bold">Ciao, I'm JP</h1>
          <p class="text-lg">
            I'm a software enginer with Microsoft, an amateur photographer, and
            a cheese curd connoisseur. Welcome to my corner of the Internet,
            thanks for stopping by!
          </p>
        </div>
        <div class="flex space-x-2">
          <a href="mailto:hello@jungaretti.com" class="link-bubble">
            hello@jungaretti.com
          </a>
          <a
            href="https://github.com/jungaretti/"
            target="_blank"
            class="link-bubble"
          >
            GitHub
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
