---
import Navbar from "../components/Navbar.astro";
import LinkBubble from "../components/LinkBubble.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- Meta -->
    <title>JP Ungaretti</title>
    <meta
      name="description"
      content="Software engineer, amateur photographer, and cheese curd connoisseur." />
    <!-- Style -->
    <link rel="stylesheet" href="/assets/inter/inter.css" />
    <link rel="stylesheet" href={Astro.resolve("../style/global.css")} />
  </head>
  <body class="bg-gray-800 text-white">
    <header>
      <div class="container my-8">
        <Navbar />
      </div>
    </header>
    <main>
      <div class="container my-12">
        <h1 class="text-4xl md:text-5xl font-bold">JP Ungaretti</h1>
        <p class="text-lg mt-1">
          Software Engineer, Photographer, and Cheese Curd Connoisseur
        </p>
        <div class="flex space-x-2 mt-4 text-sm">
          <LinkBubble
            text="hello@jungaretti.com"
            href="mailto:hello@jungaretti.com" />
          <LinkBubble text="GitHub" href="https://github.com/jungaretti" />
        </div>
      </div>
    </main>
  </body>
</html>
