---
import type { HeadMeta } from "../data/types/HeadMeta";
import { photos } from "../data/photos";
import BaseLayout from "../layouts/BaseLayout.astro";
import PhotoGallery from "../components/PhotoGallery.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";

const meta: HeadMeta = {
  title: "JP Ungaretti",
  description:
    "Developer, photographer, and cheese curd connoisseur in the Pacific Northwest. Check out my recent work or get in touch with me.",
};
---

<BaseLayout meta={meta}>
  <div class="frame">
    <Hero title="JP Ungaretti" detail="Developer and Photographer" />
    <Section title="My Photos">
      <div class="">
        <PhotoGallery photos={photos} />
      </div>
    </Section>
  </div>
</BaseLayout>
