---
import type { Metadata } from "@lib/Metadata";
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Section from "@components/Section.astro";
import ImagePreview from "@components/ImagePreview.astro";
import { getEntries } from "astro:content";

const photos = await getEntries([
  { collection: "photos", id: "raggi-del-pianeta" },
  { collection: "photos", id: "new-horizons" },
  { collection: "photos", id: "toadstool" },
  { collection: "photos", id: "lone-moose" },
  { collection: "photos", id: "riveder-le-stelle" },
  { collection: "photos", id: "mio-gatto" },
]);

const meta: Metadata = {
  title: "JP Ungaretti",
  description:
    "Developer, photographer, and cheese curd connoisseur in the Pacific Northwest. Check out my recent work or get in touch with me.",
};
---

<BaseLayout meta={meta}>
  <Hero title="JP Ungaretti" detail="Developer and Photographer" />
  <Section title="My Photos">
    <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
      {
        photos.map((photo) => (
          <ImagePreview
            src={photo.data.compressed.src}
            alt={photo.data.alt}
            href={`/photos/${photo.id}`}
          />
        ))
      }
    </div>
  </Section>
</BaseLayout>
