---
import { getCollection } from "astro:content";
import type { Metadata } from "../types/Metadata";
import NationalPark from "../components/NationalPark.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

const meta: Metadata = {
  title: "National Parks - JP Ungaretti",
  description: "",
};

const visited = await getCollection(
  "nationalParks",
  (park) => park.data.visited
);
visited.sort((a, b) => b.data.visited!.valueOf() - a.data.visited!.valueOf());
const toVisit = await getCollection(
  "nationalParks",
  (park) => !park.data.visited
);
toVisit.sort((a, b) => a.data.name.localeCompare(b.data.name));
const all = [...visited, ...toVisit];
---

<BaseLayout meta={meta}>
  <Section title="National Parks">
    <div class="flex flex-col sm:flex-row sm:flex-wrap gap-2">
      {
        all.map(({ data }) => (
          <div class="sm:flex-grow">
            <NationalPark park={data} />
          </div>
        ))
      }
    </div>
  </Section>
</BaseLayout>
