---
import { getCollection } from "astro:content";
import type { Metadata } from "../types/Metadata";
import NationalPark from "../components/NationalPark.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

const meta: Metadata = {
  title: "National Parks - JP Ungaretti",
  description: "",
};

const parks = await getCollection("nationalParks");
---

<BaseLayout meta={meta}>
  <Section title="National Parks">
    <div class="mt-2">
      <div class="grid-standard lg:grid-cols-3">
        {parks.map(({ data }) => <NationalPark park={data} />)}
      </div>
    </div>
  </Section>
</BaseLayout>
