---
import { getCollection } from "astro:content";
import type { Metadata } from "../types/Metadata";
import NationalPark from "../components/NationalPark.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";

const meta: Metadata = {
  title: "National Parks - JP Ungaretti",
  description: "",
};

const parks = await getCollection("national-parks");
const visited = parks.filter((park) => park.data.visited);
const unvisited = parks.filter((park) => park.data.visited === false);
---

<BaseLayout meta={meta}>
  <Section title="National Parks">
    <div class="space-y-4">
      <div>
        <h3 class="text-xl font-bold">Visited</h3>
        <div class="space-y-4 mt-2">
          {visited.map(({ data }) => <NationalPark park={data} />)}
        </div>
      </div>
      <div>
        <h3 class="text-xl font-bold">Need to Visit</h3>
        <div class="space-y-4 mt-2">
          {unvisited.map(({ data }) => <NationalPark park={data} />)}
        </div>
      </div>
    </div>
  </Section>
</BaseLayout>
