---
import Section from "../components/Section.astro";
import type { HeadMeta } from "../data/types/HeadMeta";
import BaseLayout from "../layouts/BaseLayout.astro";
import { photos } from "../data/photos";
import Columns from "../components/Columns.astro";
import PhotoPreview from "../components/PhotoPreview.astro";

const meta: HeadMeta = {
  title: "My Photos - JP Ungaretti",
  description: "Photos of mountains, sailboats, cats, stars, and more.",
};
---

<BaseLayout meta={meta}>
  <div class="frame">
    <Section title="My Photos">
      <Columns>
        {photos.map((photo) => <PhotoPreview photo={photo} />)}
      </Columns>
    </Section>
  </div>
</BaseLayout>
