---
import iconReference from "../../public/assets/logo.svg"
---

<header>
  <div class="container flex items-center my-6">
    <div class="flex-grow">
      <img src="{iconReference}" alt="JP's face" height="48px" width="48px" />
    </div>
    <div>
      <a href="/">Home</a>
    </div>
  </div>
</header>
