---
interface Props {
  title: string;
  detail: string;
}
const { title, detail } = Astro.props;
---

<div class="my-16 md:my-28">
  <div class="text-left">
    <h1 class="text-4xl font-black text-flash md:text-5xl">{title}</h1>
    <p class="sfont-medium text-lg leading-tight md:text-2xl">
      {detail}
    </p>
  </div>
</div>
