---
interface Props {
  src: string;
  alt: string;
  href?: string;
}
const { src, alt, href } = Astro.props;
---

<div>
  <a href={href}>
    <img src={src} alt={alt} class="w-full rounded-lg" />
  </a>
</div>
