---
import type { NationalPark } from "../content/config";

interface Props {
  park: NationalPark;
}
const { park } = Astro.props;
---

<style>
  .visited {
    @apply bg-gradient-to-r from-red-600 to-orange-500;
  }
  .unvisited {
    @apply border-solid border-2 border-red-500;
  }
</style>

<div class={`${park.visited ? "visited" : "unvisited"} rounded-lg p-2`}>
  <p class="text-lg font-bold">{park.name}</p>
  <p>{park.location}</p>
</div>
