---
import type { NationalPark } from "../content/config";

interface Props {
  park: NationalPark;
}
const { park } = Astro.props;
---

<div>
  <p class="text-lg font-bold">{park.name}</p>
  <p>{park.location}</p>
</div>
