---
import logoRef from "../../public/assets/logo.svg";
import NavbarLink from "./NavbarLink.astro";
---

<div class="flex items-center">
  <div class="flex-grow">
    <a href="/">
      <img src={logoRef} alt="JP's face" height="48px" width="48px" />
    </a>
  </div>
  <div class="flex space-x-4">
    <NavbarLink text="Home" href="/" />
  </div>
</div>
