---
import NavbarLink from "./NavbarLink.astro";
---

<div class="flex items-center">
  <div class="flex-grow">
    <a href="/">
      <img src="/assets/face.svg" alt="JP's face" class="h-10" />
    </a>
  </div>
  <div class="flex space-x-4">
    <NavbarLink text="Home" href="/" />
  </div>
</div>
