<div class="flex items-center">
  <div class="flex-grow">
    <a href="/">
      <img src="/assets/face.svg" alt="JP's face" class="h-11" />
    </a>
  </div>
  <div class="flex space-x-6">
    <slot />
  </div>
</div>
