---
const { photos } = Astro.props;
import PhotoFrame from "./PhotoFrame.astro";
---

<!-- <div class="space-y-4 md:space-y-0 md:grid md:grid-cols-2 md:gap-4"> -->
<div class="space-y-4 md:space-y-4">
  {photos.map((p) => <PhotoFrame photo={p} />)}
</div>
