---
import type { Photo } from "../data/types/Photo";

export interface Props {
  photo: Photo;
}
const { photo } = Astro.props as Props;
---

<div>
  <a href={`/photos/${photo.id}`}>
    <img src={photo.src.compressed} alt={photo.alt} class="w-full rounded-lg" />
  </a>
</div>
