---
interface Props {
  value: number;
  total: number;
  valueDetail?: string;
  totalDetail?: string;
}
const { value, total, valueDetail, totalDetail } = Astro.props;
---

<div>
  <div class="h-4 rounded border-2 border-flash">
    <div class="h-full bg-flash" style={{ width: `${(value / total) * 100}%` }}>
    </div>
  </div>
  <div class="mt-1 flex flex-row">
    <div class="flex-grow">
      <p>{valueDetail}</p>
    </div>
    <div>
      <p>{totalDetail}</p>
    </div>
  </div>
</div>
