---
import type { Metadata } from "@lib/Metadata";
import BaseHead from "@layouts/BaseHead.astro";
import Navbar from "@components/Navbar.astro";

interface Props {
  meta: Metadata;
}
const { meta } = Astro.props;
---

<html class="bg-griko text-cultured font-inter">
  <BaseHead meta={meta} />
  <body>
    <header>
      <div class="frame my-8">
        <Navbar
          links={[
            {
              text: "Home",
              href: "/",
            },
            {
              text: "Gallery",
              href: "/gallery",
            },
          ]}
        />
      </div>
    </header>
    <main>
      <div class="frame space-y-8">
        <slot />
      </div>
    </main>
    <footer>
      <div class="frame my-6 md:my-8">
        <hr class="mb-3 opacity-20" />
        <div
          class="flex flex-col space-y-3 md:flex-row md:space-x-6 md:space-y-0"
        >
          <div>
            <h5 class="footer-header">Here</h5>
            <ul class="footer-list">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/gallery">Gallery</a>
              </li>
            </ul>
          </div>
          <div>
            <h5 class="footer-header">There</h5>
            <ul class="footer-list">
              <li>
                <a href="https://github.com/jungaretti">GitHub</a>
              </li>
            </ul>
          </div>
          <div>
            <h5 class="footer-header">Everywhere</h5>
            <ul class="footer-list">
              <li>
                <p>Photography © 2023 JP Ungaretti.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
