---
import BaseHead from "./BaseHead.astro";
import Navbar from "../components/Navbar.astro";
const { title, description, permalink, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} {image} />
  </head>
  <body class="bg-lowmess text-cultured">
    <header>
      <div class="container my-4 md:my-8">
        <Navbar />
      </div>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="container my-4">
        <hr class="opacity-20 mb-4" />
        <div
          class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-4"
        >
          <div>
            <h5 class="font-bold">Here</h5>
            <ul>
              <a href="/">Home</a>
            </ul>
          </div>
          <div>
            <h5 class="font-bold">There</h5>
            <ul>
              <li>
                <a href="https://github.com/jungaretti">GitHub</a>
              </li>
            </ul>
          </div>
          <div>
            <h5 class="font-bold">Everywhere</h5>
            <p>Photography © 2021 JP Ungaretti.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
