---
const defaultTitle = "JP Ungaretti";
const defaultDescription =
  "I'm a software engineer, photographer, and cheese curd connoisseur. Check out my recent photos or get in touch with me.";
const defaultPermalink = "https://www.jungaretti.com/";
const { title, description, permalink } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Basic -->
<title>{title || defaultTitle}</title>
<meta name="description" content={description || defaultDescription} />
<!-- Social -->
<meta property="og:title" content={title || defaultTitle} />
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink || defaultPermalink} />
<meta property="og:description" content={description || defaultDescription} />
<!-- Icons -->
<link rel="icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<!-- Style -->
<link rel="stylesheet" href="/assets/inter/inter.css" />
<link rel="stylesheet" href={Astro.resolve("../style/global.css")} />
