---
import "../style/global.css";
import { defaults } from "../data/defaults";
const defaultTitle = defaults.title;
const defaultDescription = defaults.description;
const defaultPermalink = defaults.permalink;
const { title, description, permalink, image } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Basic -->
<title>{title || defaultTitle}</title>
<meta name="description" content={description || defaultDescription} />
<!-- Social -->
<meta property="og:title" content={title || defaultTitle} />
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink || defaultPermalink} />
<meta property="og:description" content={description || defaultDescription} />
{image && <meta property="og:image" content={image} />}
<!-- Icons -->
<link rel="icon" href="/favicon.ico" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<!-- Style -->
<link rel="stylesheet" href="/assets/inter/inter.css" />
