---
import BaseHead from "./BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, description, permalink, current } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body class="bg-gray-800 text-white">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
