---
import type { Metadata } from "@lib/Metadata";
import type { Park } from "@lib/Park";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import ParksDashboard from "@components/ParksDashboard.astro";

interface Props {
  meta: Metadata;
  title: string;
  parks: Park[];
}
const { meta, title, parks } = Astro.props;
---

<BaseLayout meta={meta}>
  <Section title={title}>
    <ParksDashboard parks={parks} />
  </Section>
</BaseLayout>
