---
import type { Metadata } from "@lib/Metadata";
import type { Park } from "@lib/Park";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import ParkDashboard from "@components/ParkDashboard.astro";

interface Props {
  meta: Metadata;
  scope: string;
  parks: (Park & { category: string })[];
}
const { meta, scope, parks } = Astro.props;

const visited = parks.filter((park) => park.visited);
const toVisit = parks.filter((park) => !park.visited);
const all = [...visited, ...toVisit];
all.sort((a, b) => a.name.localeCompare(b.name));
---

<BaseLayout meta={meta}>
  <Section title={`${scope} Parks`}>
    <ParkDashboard parks={parks} />
  </Section>
</BaseLayout>
