name: Deploy DNS Records

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jungaretti/bacon-deploy-action@main
        name: Deploy jungaretti.com
        with:
          api-key: ${{ secrets.PORKBUN_API_KEY }}
          secret-key: ${{ secrets.PORKBUN_SECRET_KEY }}
          config: dns/jungaretti.com.yml
          create: true
          delete: true
      - uses: jungaretti/bacon-deploy-action@main
        name: Deploy jamesungaretti.com
        with:
          api-key: ${{ secrets.PORKBUN_API_KEY }}
          secret-key: ${{ secrets.PORKBUN_SECRET_KEY }}
          config: dns/jamesungaretti.com.yml
          create: true
          delete: true
